.content {
  width: 62vw;
}

.infoEmpleado {
  display: flex;
  align-items: center;
}

.infoEmpleado > h3 {
  margin-right: 15px;
  font-size: 28px;
}

.infoEmpleado > h3:nth-child(1) {
  font-size: 20px;
}


.infoCaracteristicas{
  list-style-type: none;
}
