<div class="content">
  <div class="infoEmpleado">
    <a [routerLink]="['/actualiza', indice]">
      <h3>{{ indice + 1 }} .</h3>
      <h3>
        {{ empleadoDeLista.nombre }}
      </h3>
      <h3>
        {{ empleadoDeLista.apellido }}
      </h3>
      <h3>
        {{ empleadoDeLista.cargo }}
      </h3>
      <h3>
        {{ empleadoDeLista.salario }}
      </h3>
    </a>
  </div>
  <app-caracteristicas-empleado-c
    (caracteristicasEmpleados)="agregarCaractetistica($event)"
  ></app-caracteristicas-empleado-c>
  <ul class="infoCaracteristicas">
    <li *ngFor="let caracteristica of arrayCaracteriscas">
      {{ caracteristica }}
    </li>
  </ul>
</div>
